{% extends 'base/base.html' %}
{% load custom_tags %}
{% load static %}
{% block content %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="align-items-center mb-4 d-flex flex-column justify-content-center">
            <h1 class="display-3 mb-0 text-primary font-weight-bold">Rush Recipe</h1>
            <p class="lead font-weight-normal">Your Culinary Adventure Begins Here</p>
        </div>
        <div class="d-sm-flex align-items-center justify-content-center mb-4 ml-5">
            <h1 class="h3 mb-0 text-gray-800">Most Liked Recipes!</h1>
        </div>
        <div class="container">
            <div class="row">
                {% for recipe in top_liked_recipes %}
                    <div class="col-sm-4 mb-4">
                        <div class="card">
                            <img class="card-img-top img-fluid" src="{{ recipe.picture.url }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title text-dark font-weight-bold">{{ recipe.title }}</h5>
                                <p class="card-text">{{ recipe.description }}</p>
                                <div class="d-flex justify-content-center">
                                    <a href="{% url 'recipe-details' pk=recipe.pk %}" class="btn btn-primary btn-sm">View
                                        Recipe</a>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <small class="text-muted">Last Updated: {{ recipe.updated_at }}</small>
                                <small class="text-muted">
                                    {% if request.user.is_authenticated %}
                                        {% if recipe|has_liked:request.user %}
                                            <i class="fas fa-heart heart-full text-danger"></i>
                                            <!-- Full red heart icon if user has liked -->
                                        {% else %}
                                            <i class="far fa-heart heart-gray"></i>
                                            <!-- Gray heart icon if user has not liked -->
                                        {% endif %}
                                    {% else %}
                                        <i class="far fa-heart heart-gray"></i>
                                        <!-- Gray heart icon for unauthenticated users -->
                                    {% endif %}
                                    <span class="likes-count">{{ recipe.likes_set.count }}</span>
                                </small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}