{% extends 'base/base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
    <div class="container">
        <h2 class="mb-4 mt-3">Selected Category: {{ category|replace }}</h2>
        <div class="row">
            {% for recipe in recipes %}
                <div class="col-sm-4 mb-4">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="{{ recipe.picture.url }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-dark font-weight-bold">{{ recipe.title }}</h5>
                            <p class="card-text">{{ recipe.description }}</p>
                            <div class="d-flex justify-content-center">
                                <a href="{% url 'recipe-details' pk=recipe.pk %}"
                                   class="btn btn-primary btn-sm">View Recipe</a>
                            </div>

                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <small class="text-muted">Last Updated: {{ recipe.updated_at }}</small>
                            <small class="text-muted">
                                {% if request.user.is_authenticated %}
                                    {% if recipe|has_liked:request.user %}
                                        <a href="{% url 'recipe-like' pk=recipe.pk %}" class="like-btn text-danger"
                                           style="cursor: pointer">
                                            <i class="fas fa-heart heart-full"></i>
                                            <!-- Full red heart icon if user has liked -->
                                        </a>
                                    {% else %}
                                        <a href="{% url 'recipe-like' pk=recipe.pk %}"
                                           class="like-btn text-secondary" style="cursor: pointer">
                                            <i class="far fa-heart heart-empty"></i>
                                            <!-- Gray heart icon if user has not liked -->
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <a href="{% url 'account-login' %}" class="text-secondary">
                                        <i class="far fa-heart heart-empty"></i>
                                        <!-- Gray heart icon for unauthenticated users -->
                                    </a>
                                {% endif %}
                                <span class="likes-count">{{ recipe.likes_set.count }}</span></small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}