{% extends 'base/base_forms.html' %}
{% load static %}
{% block content %}
    <body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Delete Recipe</h1>
                                    </div>
                                    <h3 class="h5 text-danger mb-4">Note: Deleted recipes cannot be recovered!</h3>
                                    <form class="user" method="post" action="{% url 'recipe-delete' pk=object.pk %}">
                                        <div class="form-group">
                                            Title - {{ object.title }}
                                        </div>
                                        <div class="form-group">
                                            Category - {{ object.category }}
                                        </div>
                                        <div class="form-group mb-5">
                                            Description - {{ object.description }}
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-danger btn-block">
                                            Delete
                                        </button>
                                        {% csrf_token %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
{% endblock %}