{% extends 'base/base_forms.html' %}
{% load static %}
{% block content %}
    <style>
    .bg-register-image{background-image: url("{% static 'img/bg-food.jpg' %}")}
    </style>
<body class="bg-gradient-primary">
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4 font-weight-bold">Create a Recipe!</h1>
                            </div>
                            <form class="user" method="post" enctype="multipart/form-data" action="{% url 'recipe-create' %} ">
                                <div class="form-group">
                                    {{ form.title }}
                                    {{ form.title.errors }}
                                </div>
                                <div class="form-group">
                                    {{ form.description }}
                                    {{ form.description.errors }}
                                </div>
                                <div class="form-group">
                                    {{ form.ingredients }}
                                    {{ form.ingredients.errors }}
                                </div>
                                <div class="form-group">
                                    {{ form.instructions }}
                                    {{ form.instructions.errors }}
                                </div>
                                <div class="form-group">
                                    {{ form.category }}
                                    {{ form.category.errors }}
                                </div>
                                <div class="form-group">
                                    {{ form.picture.label }} {{ form.picture }}
                                    {{ form.picture.errors }}
                                </div>

                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary btn-user btn-block font-weight-bold">Create</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
{% endblock %}