{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    {% if not user_recipes %}
        <div class="d-flex justify-content-center h-75">
            <div class="d-flex justify-content-center flex-column align-items-center">
                <p class="font-weight-bolder display-4">You don't have any recipes yet. <i class="fas fa-sad-tear"></i>
                </p>
                <p class="font-weight-bolder display-4">Create your own recipe now!</p>
                <a href="{% url 'recipe-create' %}" class="btn btn-primary btn-lg">Create</a>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row">
                {% for recipe in user_recipes %}
                    <div class="col-sm-4 mb-4">
                        <div class="card">
                            <img class="card-img-top img-fluid" src="{{ recipe.picture.url }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ recipe.title }}</h5>
                                <p class="card-text">{{ recipe.description }}</p>
                                <div class="d-flex justify-content-center">
                                    <a href="{% url 'recipe-details' pk=recipe.pk %}"
                                       class="btn btn-primary btn-sm">View Recipe</a>
                                </div>

                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <small class="text-muted">Last Updated: {{ recipe.updated_at }}</small>
                                <small class="text-muted">
                                    {% if request.user.is_authenticated %}
                                        {% if request.user in recipe.likes.all %}
                                            <i class="fas fa-heart heart-full text-danger"></i>
                                            <!-- Full red heart icon if user has liked -->
                                        {% else %}
                                            <i class="far fa-heart heart-gray"></i>
                                            <!-- Gray heart icon if user has not liked -->
                                        {% endif %}
                                    {% else %}
                                        <i class="far fa-heart heart-gray"></i>
                                        <!-- Gray heart icon for unauthenticated users -->
                                    {% endif %}
                                    <span class="likes-count">{{ recipe.likes.count }}</span></small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}