{% extends 'base/base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
    {% if not user_recipes %}
        <div class="d-flex justify-content-center h-75">
            <div class="d-flex justify-content-center flex-column align-items-center">
                <p class="font-weight-bolder display-4">User doesn't have any recipes yet. <i
                        class="fas fa-sad-tear"></i>
                </p>
            </div>
        </div>
    {% else %}
        <div class="container">
            <h2 class="mb-4">{{ author_name }}'s Recipes</h2>
            <div class="row">
                {% for recipe in user_recipes %}
                    <div class="col-sm-4 mb-4">
                        <div class="card position-relative">
                            <img class="card-img-top img-fluid" src="{{ recipe.picture.url }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title text-dark font-weight-bold center">{{ recipe.title }}</h5>
                                <p class="card-text ">{{ recipe.description }}</p>
                            </div>
                            <div class="position-absolute bottom-center w-100" style="top: 456px; left: 120px">
                                <a href="{% url 'recipe-details' pk=recipe.pk %}"
                                   class="btn btn-primary btn-sm ">View Recipe</a>
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <small class="text-muted">Last Updated: {{ recipe.updated_at }}</small>
                                <small class="text-muted">
                                    {% if request.user.is_authenticated %}
                                        {% if recipe|has_liked:request.user %}
                                            <i class="fas fa-heart heart-full text-danger"></i>
                                            <!-- Full red heart icon if user has liked -->
                                        {% else %}
                                            <i class="far fa-heart heart-gray"></i>
                                            <!-- Gray heart icon if user has not liked -->
                                        {% endif %}
                                    {% else %}
                                        <i class="far fa-heart heart-gray"></i>
                                        <!-- Gray heart icon for unauthenticated users -->
                                    {% endif %}
                                    <span class="likes-count">{{ recipe.likes_set.count }}</span>
                                </small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}